body{
    background-image: url(/img/pink.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Черный прозрачный фон */
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: white !important; /* Белый текст */
  }
  
  .navbar .nav-link:hover {
    color: #ccc !important; /* Серый текст при наведении */
  }

img{
    width: 100%;
    height: 20%;
}
.card {
  margin: 10px;
  display: inline-block;
}

.quantity {
  margin-top: 10px;
}

.total-price {
  margin-top: 10px;
  font-weight: bold;
}

h4 {
  color: green; /* Яркий цвет для общей цены */
}